---
import Layout from '../layouts/Layout.astro';
import LeftSide from '../components/LeftSide.astro';
import RightSide from '../components/RightSide.astro';
---

<Layout>
	<main class="md:grid grid-cols-2 h-full w-full p-2 md:px-16 text-red-300">
	  <LeftSide />
	  <RightSide />
	</main>
</Layout>
