  <p class="text-white block mt-8 mb-8 text-justify md:text-left">
    <span class="text-lg">
      Je suis <b class="font-bold">développeur web, coach et formateur</b> en développement.
    </span>
    <br>
    <br>
    D'abord développeur front-end, j'ai rapidement évolué en tant que développeur full-stack. Puis par mon par mon attrait pour le partage et la transmission de savoir
    j'ai progressé vers la fonction de <b>lead dev</b> et c'est ainsi que j'ai encadré techniquement une équipe de développeurs pendant cinq années.
    <br>
    Pédagogue et à l'écoute, j'aime transmettre, partager et échanger sur la pratique du développement.
  </p>
