  <p class="text-white block mt-8 mb-8 text-justify md:text-left">
    <span class="text-lg">
      Je suis <b class="font-bold">développeur web, coach et formateur</b> en développement.
    </span>
    <br>
    <br>
    Tout d'abord développeur front-end, je suis passé rapidement développeur full-stack. Mon envie de transmettre et de partager
    mon savoir m'ont permis d'être <b>lead dev</b> et d'encadrer techniquement une équipe.
    <br>
    Pédagogue et à l'écoute, j'aime transmettre, partager et échanger sur la pratique du développement.
  </p>
