<div class="flex flex-col justify-center items-end md:items-start w-full">
  <a
    href="https://github.com/JohnnyEvo/"
    target="_blank"
    rel="noopener noreferrer"
    class="uppercase text-sm text-secondary hover-effect text-right"
    data-replace="Voir mon Github"
  >
    <span> Voir mon Github</span>
  </a>
  <a
    href="https://www.linkedin.com/in/johnny-charcosset/"
    target="_blank"
    rel="noopener noreferrer"
    class="uppercase text-sm text-secondary mt-2 hover-effect text-right"
    data-replace="Voir mon LinkedIn"
  >
    <span> Voir mon LinkedIn</span>
  </a>
</div>
