---
const { project } = Astro.props;
---

<div
  class="h-screen overflow-hidden rounded-xl group cursor-pointer relative md:h-[25rem]"
>
  <img
    src={`/img/${project.frontmatter.miniature}`}
    alt={project.frontmatter.title}
    class="object-cover w-full h-full group-hover:scale-105 transition-all duration-700"
  />
  <div
    class="flex flex-col justify-center items-center text-primary absolute bottom-0 left-0 z-10 w-full h-1/5 bg-white/60 md:translate-y-full md:group-hover:translate-y-0 transition-all duration-1000"
  >
    <h2 class="font-bold font-title">{project.frontmatter.title}</h2>
    <p class="text-sm text-center">
      {project.frontmatter.description}
    </p>
  </div>
</div>
