---
import '../styles/main.css';
---

<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio de Johnny Charcosset : Développeur web</title>
	</head>
	<body class="bg-primary h-screen w-screen overflow-hidden p-2 md:p-4">
		<slot />
	</body>
</html>
